// fonts
// @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: 'Gothic A1', sans-serif;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #141414;
    --p-white: #f8f9fc;
    --white: #fff;
    --blue: #212ea0;
    --light-blue: #1774ff;
    --green: #02b302;
    --error: #ED0000;
}

@font-face {
    font-family: 'gothamMedium';
    src: url('../fonts/gotham-medium.otf');
}

@font-face {
    font-family: 'gothamBook';
    src: url('../fonts/gotham-book.ttf');
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
ul{
    margin-bottom: 0;
    padding-left: 0;
}
.para{
    font-weight: 400;
    line-height: 140%;
    font-size: 14px;
}

// buttons
.main-btn{
    outline: none;
    border: none;
    background: var(--light-blue);
    color: var(--white);
    padding: 0.7rem 1.3rem;
    transition: 0.2s ease-in-out;
    font-size: 16px;
    display: inline-block;

    &.green-border{
        border: 1px solid var(--green);
        background: transparent;
        color: var(--green);


        span{
            color: var(--green);
        }

        &:hover{
            background: var(--green) !important;
            color: var(--white) !important;
        }
    }

    &:hover{
        background: var(--blue) !important;
        color: var(--white);
    } 

    &.with-icon{
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--white);
        font-size: 16px;

        span{
            font-size: 16px;
            color: var(--white);
        }

        &:hover{

            span{
                color: var(--white);
            }
        }
    }

    &.green-btn{
        background: var(--green);
        gap: 15px;

        span{
            color: var(--black) !important;
        }

        &:hover{
            background: var(--green) !important;

            span{
                color: var(--black) !important;
            }
        }
    }

    &.link-btn{
        background: transparent;
        color: var(--light-blue);
        padding: 0px 0px;

        &:hover{
            background: transparent !important;
            color: var(--blue);
        }
    }
}

@media(max-width: 991px){
    .main-btn{
        padding: 0.55rem 1.3rem;
    }
}

.px-0{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
// form controls

.form-group{
    width: 100%;
    position: relative;
    margin-bottom: 1em;

    &.style-3{

        .input-grp{
            
            input, textarea, select{
                padding: 0.8em 1.1em;
                background: var(--white);
            }
        }
    }

    &.style-2{

        .input-grp{

            input,textarea,select{
                width: 100%;
                background: var(--white);
                padding: 0.8em 1.3em !important;
                font-size: 18px;
                border: none !important;

                &::placeholder{
                    opacity: 0.6;
                    color: var(--black);
                }
            }
        }
    }

    .input-grp{
        position: relative;
        width: 100%;

        &.select-group{
            cursor: pointer;

            img{
                position: absolute;
                top: 50%;
                right: 20px;
                pointer-events: none;
                transform: translateY(-50%);
            }
        }

        &.pass-input{

            .pass-ico{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                cursor: pointer;
                width: 30px;

                svg{
                    width: 100%;
                }
            }
        }
        &.search-input{
            position: relative;

            input{
                width: 100%;
            }
            button{
                padding: 0.5em 0.7em;
                position: absolute;
                right: 0;
                height: 100%;
                top: 0;
                background: var(--light-blue);
                display: flex;
                align-items: center;
                justify-content: center;
                border: none !important;
                outline: none !important;
                box-shadow: none !important;
            }
        }

        &.phone-input-with-flag{
            display: grid;
            grid-template-columns: 150px 1fr;
            gap: 14px;

            .iti__arrow{
                display: none;
            }

            .iti__flag-container{
                width: 100%;
            }

            #phone{
                padding-left: 55px;
                color: rgba(20, 20, 20, 0.6);
                position: relative;

                &:after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                    width: 30px;
                    height: 20px;
                    background: url(../images/drop.svg) center/contain no-repeat;
                }
            }
        }

        input,textarea,select{
            width: 100%;
            background: var(--p-white);
            padding: 0.45rem 1rem;
            border: 1px solid rgba($color: #38379A, $alpha: 0.1);
            font-size: 16px;

            &.error{
                border: 1px solid var(--error) !important;
            }

            &:focus{
                box-shadow: none !important;
                border: 1px solid var(--light-blue);
                outline: none;
            }

            &::placeholder{
                font-size: 16px;
                opacity: 0.60;
                color: var(--black);
            }
        }
    }
}
.label-text{
    font-size: 16px;
    margin-bottom: 5px;
}
.custom-selectbox-wrap{
    position: relative;
    width: 100%;

    &.active{

        .custom-selectbox-input{
            background: var(--white);
            border-bottom-color: var(--white);
        }

        .custom-select-droplist{
            display: block;
        }
    }

    &.has-selected-val{

        .clear-btn{
            display: block !important;
        }
        .custom-selectbox-input > img{
            display: none;
        }
        .custom-selectbox-input span{
            opacity: 1;
        }

    }

    >input{
        display: none;
    }

    .custom-selectbox-input{
        background: var(--p-white);
        padding: 0.45rem 1rem;
        border: 1px solid rgba($color: #38379A, $alpha: 0.1);
        font-size: 16px;
        width: 100%;
        display: block;
        position: relative;
        cursor: pointer;


        >img, .clear-btn{
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            z-index: 5;
            display: block;
        }
        >img{
            width: 15px;
            pointer-events: none;
        }
        .clear-btn{
            cursor: pointer;
            display: none;
        }

        span{
            font-size: 16px;
            color: var(--black);
            font-size: 16px;
            opacity: 0.60;
            color: var(--black);
            text-transform: capitalize;
        }
    }

    .custom-select-droplist{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: var(--white);
        padding: 0em 1em;
        padding-bottom: 0.5em;
        border: 1px solid rgba($color: #38379A, $alpha: 0.1);
        border-top-color: var(--white);
        position: absolute;
        top: 99%;
        z-index: 99;
        display: none;
        
        .select-option{
            position: relative;
            display: block;
            padding: 0.2rem 0em;
            transition: 0.2s ease-in-out;
            cursor: pointer;
            text-transform: capitalize ;

            &:hover, &.active{
                color: var(--light-blue);
            }

            &:nth-child(1){
                border-top: 1px solid rgba($color: #212ea0, $alpha: 0.1);
                padding-top: 0.7em;
            }
        }
    }
}
.sec-head-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 0px;
    padding-top: 0;
    border-bottom: 1px solid rgba($color: #212ea0, $alpha: 0.1);
    margin-bottom: 3rem;

    .sec-head{
        margin-bottom: 0;
    }
}
.sec-head{
    font-size: 38px;
    font-weight: 400;
}
.sec{
    padding: 4rem 0px;
    overflow: hidden;
    position: relative;
}
.arrow-btn{
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    min-width: 150px;
    transition: 0.2s ease-in-out;
    padding: 0.5rem 0.8rem;

    span{
        color: var(--light-blue);
        font-size: 16px;
        transition: 0.2s ease-in-out;
        position: relative;
        z-index: 555;
    }

    svg{
        transition: 0.4s ease-in-out;
        position: relative;
        z-index: 555;
        
        path{
            transition: 0.2s ease-in-out;
        }
    }

    &:hover{
        

        span{
            color: white;
        }

        svg{
            transform: rotate(180deg);

            path{
                fill: white;
            }
        }

        .drop-list{
            transform: scale(1);
            transition: 0.3s ease-in-out;
        }
    }

    .drop-list{
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        padding: 5px 0.8em;
        padding-top: 0;
        padding-top: 39px;
        z-index: 55;
        background: var(--light-blue);
        transform-origin: top left;
        transform: scale(0);

        li a{
            display: block;
            padding: 3px 0px;
            color: white;
            font-size: 14px;
            opacity: 0.6;
            transition: 0.2s ease-in-out;

            &:hover{
                opacity: 1;
            }
        }
        
        li:first-child{
            padding-top: 5px;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
}
label.error{
    margin-top: 5px;
    font-size: 12px;
    color: var(--error);
}