* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --p-black: #141414;
    --p-white: #F8F9FC;
    --m-blue: #212EA0;
    --l-blue: #1774FF;
    --p-green: #02B302;
    --gotham-medium: gotham-medium;
    --gotham-book: gotham-book;
}

@font-face {
    font-family: gotham-medium;
    src: url(/assets/fonts/Gotham\ Medium.otf);
}

@font-face {
    font-family: gotham-book;
    src: url(/assets/fonts/GothamBook.ttf);
}

@font-face {
    font-family: temp;
    src: url(/assets/fonts/Poppins-Regular.ttf);
}

body {
    font-family: var(--gotham-book);
    position: relative;
}

h1 {
    font-family: var(--gotham-book);
    font-size: 2.1rem;
}

p {
    font-size: 15px;
    margin: 0;
}

.bold {
    font-family: var(--gotham-medium);
}

.lb-color {
    color: var(--l-blue) !important;
}

.b-color {
    color: var(--p-black);
}

.g-color {
    color: var(--p-green);
}

.w-color {
    color: var(--p-white);
}

.p-btn {
    background-color: var(--l-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--p-white);
    padding: 9px;
    width: 150px;
    margin-left: 2.5rem;
    border-radius: 0 !important;
    border: none !important;
    font-size: 15px;
}

.h-flex-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h-flex-s {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.h-flex-e {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.v-flex-e {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-100 {
    padding-top: 100px;
}


/* Navbar */

.navbar-abs {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-expand-lg {
    padding: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: var(--p-black);
    padding: 0.5rem 1rem !important;
}

nav .btn {
    background-color: var(--l-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--p-white);
    /* padding: 8px; */
    width: 150px;
    margin-left: 2.5rem;
    border-radius: 0 !important;
    border: none !important;
}

nav .btn img {
    width: 14px;
    margin: 0 7px;
}


/* Header */

#header {
    background-color: var(--p-black);
    position: relative;
}

#header img {
    width: 100%;
    /* max-width: 100%; */
}

#header .col-5 {
    padding: 40px 0px;
}

#header .col-5 p {
    color: var(--p-white);
    line-height: 1.2rem;
}


/* Form */

#header .floating-div {
    background-color: #fff;
    width: 40% !important;
    position: absolute;
    top: 25%;
    left: 9%;
    padding: 30px;
}

#header .floating-div h1 {
    font-size: 1.7rem;
}

#header .floating-div .tabs button {
    background: none !important;
    border: none;
    padding: 12px 25px;
}

#header .floating-div .tabs button p {
    margin: 0px;
    font-size: 15px;
}

#header .floating-div .tabs button img {
    width: 25px;
    height: 20px;
}

.floating-div form .row {
    border-top: 1px solid #DADBEF;
}

.floating-div .label-input-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 8px 0px;
    font-size: 15px;
}

.floating-div .label-input-div input,
.floating-div .label-input-div select {
    width: 100%;
    border: 1px solid #39379a4d;
    background-color: var(--p-white);
    padding: 8px;
}

.floating-div .submit-form-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 5px;
    padding: 0px 12px;
}

#header-form2 {
    display: none;
}

.header-tab-active {
    color: var(--l-blue);
    border-top: 1px solid #DADBEF !important;
    border-left: 1px solid #DADBEF !important;
    border-right: 1px solid #DADBEF !important;
}

.header-tab-active img {
    filter: grayscale(0);
}

.header-tab-inactive {
    color: var(--p-black);
    border: none;
}

.header-tab-inactive img {
    filter: grayscale(1);
}


/* Main Section */

#main {
    padding: 100px 0px 50px 0px;
    background-color: var(--p-white)
}

#main .header .row {
    border-bottom: 1px solid #212ea01a;
}

#main .header p img {
    margin: 0 8px;
}

#main .c-container {
    display: flex;
    align-items: center;
    padding: 100px 0px 0px;
    justify-content: center;
    flex-direction: column;
}

#main .header .dropdown {
    position: relative;
    display: inline-block;
    padding: 12px 16px;
    /* transition: all 0.2s; */
}

#main .dropbtn {
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
}

#main .dropdown img {
    transition: all 0.2s ease;
}

#main .dropdown:hover img {
    transform: rotate(-0.25turn);
    filter: invert(100%) sepia(17%) saturate(0%) hue-rotate(51deg) brightness(150%) contrast(102%);
}

#main .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--l-blue);
    /* min-width: 160px; */
    width: 100%;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    left: 0;
}


/* Links inside the dropdown */

#main .dropdown-content a {
    color: var(--p-white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#main .dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

#main .dropdown:hover {
    background-color: var(--l-blue);
}

#main .dropdown:hover .dropbtn {
    color: var(--p-white) !important;
}

.p-card {
    width: 85%;
    height: 210px;
    display: flex;
    flex-direction: row;
    border-top: 5px solid var(--m-blue);
    background-color: #fff;
    margin-bottom: 40px;
}

.p-card .img-sec {
    width: 30%;
}

.p-card .img-sec img {
    /* width: 100%; */
    height: 100%;
}

.p-card .details-sec {
    width: 50%;
    padding: 25px;
}

.p-card .down-div .arrow-btn {
    transition: all 0.2s;
}

.p-card:hover .arrow-btn {
    /* transform: rotate(270deg); */
    transform: rotate(-0.25turn);
    cursor: pointer;
}

.p-card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.p-card .details-sec .title,
.p-card .details-sec .p-type {
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2rem;
    word-spacing: 0px;
}

.p-card .details-sec .icons-div {
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.p-card .details-sec .icons-div img {
    background-color: #E9EAF5;
    padding: 5px;
    width: 28px;
    height: 28px;
    margin-right: 7px;
    position: relative;
}

.p-card .details-sec .details-div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}

.p-card .details-sec .details-div ul li {
    font-size: 14px;
    word-spacing: 0px;
    padding: 5px 15px 5px 0px;
}

.p-card .link-sec {
    width: 20%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.p-card .link-sec .title {
    color: var(--l-blue);
    margin: 0;
}

.p-card .link-sec .fav-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.p-card .link-sec .fav-div p {
    margin: 0px 0px 0px 5px;
    font-size: 14px;
}

.p-card .link-sec .fav-div img {
    width: 15px;
}

.p-card .link-sec .arrow-btn {
    width: 30px;
}


/* Pagination Bar */

.pagination-bar {
    list-style: none;
    width: 85%;
}

.pagination-bar li {
    padding: 10px;
}

.pagination-bar li:hover {
    cursor: pointer;
}

.pagination-bar .page-active {
    color: var(--l-blue) !important;
}

.pagination-bar .next-btn {
    background-color: var(--l-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding: 20px;
    margin-left: 20px;
}


/* Marquee */

.marquee {
    background-color: #fff;
    display: flex;
    overflow-x: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
    height: 200px;
    width: 100%;
}

.marquee:hover .marquee-content {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.marquee:hover .marquee-logo {
    filter: grayscale(1) contrast(0) blur(1px);
}

.marquee-block {
    padding-left: 4em;
    height: auto;
    width: 80%;
    display: flex;
    cursor: pointer;
}

.marquee-block:hover .marquee-logo {
    filter: unset;
}

.marquee-logo {
    /* filter: grayscale(1) contrast(0); */
}

.marquee-content {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    -webkit-animation: slide-left 20s linear infinite;
    animation: slide-left 20s linear infinite;
}

@-webkit-keyframes slide-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


/* Available brands  */

.available-barnds-container h1 {
    margin-bottom: 45px;
}

.available-barnds {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.available-barnds .brand-li {
    width: 16.6666%;
    padding: 7px;
}


/* Footer */

.footer {
    padding-top: 80px;
    padding-bottom: 30px;
    height: 50vh;
    background: url(/assets/images/footer\ bg.svg) center center no-repeat;
    background-size: cover;
    color: var(--p-white);
    height: 100%;
}

.footer .footer-header p {
    font-size: 14px;
    margin-bottom: 30px;
}

.footer .footer-header .p-btn {
    float: right;
}

.footer-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-ul li {
    width: 33.3333%;
    padding: 7px 0px;
    font-size: 13px;
}

.footer .footer-link {
    color: var(--p-white);
    text-decoration: none;
}

.footer .social-icon {
    width: 22px;
    margin-right: 20px;
}

.footer .social-icon:hover {
    cursor: pointer;
}

.footer .copyright {
    justify-content: flex-end;
    color: #a0a0ab;
}


/* ***************PRODUCT CARD PAGE************ */

#pc-main {
    background-color: var(--p-white);
    padding: 50px 0px;
}


/* Breadcrumb */

.pc-breadcrumb {
    margin-bottom: 25px;
}

.pc-breadcrumb .bc-back-btn {
    text-decoration: none;
    color: var(--m-blue);
    padding: 0;
    font-size: 18px;
    margin-right: 20px;
}

.pc-breadcrumb .bc-back-btn img {
    width: 8px;
    padding: 0;
    margin-right: 5px;
}

.pc-breadcrumb .bc-btn {
    text-decoration: none;
    color: var(--m-blue);
    text-transform: capitalize;
    padding: 0;
    margin: 10px;
    font-size: 16px;
}

.pc-breadcrumb .bc-arrow {
    padding-left: 5px;
}

.pc-breadcrumb .bc-arrow img {
    width: 7px;
}

.pc-content-div {
    display: flex;
    flex-direction: column;
}

.pc-content-div .id {
    color: var(--m-blue);
}

.pc-content-div .pc-title {
    font-size: 1.7rem;
    margin: 18px 0px;
}

.pc-content-div .pc-det {
    list-style: none;
    padding: 22px 0px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #212ea027;
    border-bottom: 1px solid #212ea027;
    margin: 40px 0px 20px;
}

.pc-content-div .pc-det li {
    font-size: 15px;
}

.pc-content-div .pc-det .dot {
    margin: 0px 10px;
}

.pc-content-div .download-btn {
    color: var(--p-green);
}

.pc-content-div .download-btn,
.pc-content-div .fav {
    margin-right: 25px;
}

.pc-content-div .download-btn a,
.pc-content-div .fav a {
    color: var(--p-green);
    text-decoration: none;
    padding: 0px 5px;
}

.pc-content-div .price {
    color: var(--p-black);
    text-decoration: none;
}

.pc-content-div .login-div .login-btn {
    text-decoration: none;
    color: var(--l-blue);
    font-size: 18px;
}

.pc-content-div .login-div p {
    margin: 0px 15px;
    font-size: 18px;
}

.pc-content-div .p-btn {
    background-color: var(--p-green);
    width: max-content;
    margin: 25px 0px;
    color: var(--p-black);
    padding: 10px;
    font-size: 16px;
}

.pc-content-div .p-btn img {
    width: 15px;
    margin: 0px 10px;
}


/* offcanvas */

.offcanvas.offcanvas-start {
    right: 0 !important;
    left: auto !important;
    transform: none !important;
}

.offcanvas {
    transition: none;
    width: 43vw !important;
    padding: 30px 50px 0px;
    background-color: var(--p-white) !important;
}

.offcanvas-header {
    border-bottom: 1px solid #212ea02a;
    padding: 0;
    padding-bottom: 15px;
}

.offcanvas-header button {
    border: none;
    background: none;
}

.offcanvas-header button img {
    width: 25px;
    height: 25px;
}

.offcanvas-body .content {
    width: 100%;
}

.offcanvas form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.offcanvas form input {
    border: none;
    padding: 10px;
    width: 100%;
}

.offcanvas .p-btn {
    padding: 10px 20px;
}

.pc-main-info {
    padding: 40px 0px 0px;
    margin-top: 40px;
    border-top: 1px solid #212ea02a;
}

.pc-main-info .col-4 {
    margin: 0;
    padding: 0;
}

.pc-main-info ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    border-right: 1px solid #212ea02a;
    padding-left: 25px;
}

.pc-main-info ul li {
    width: 50%;
}


/* Equipment */

#pc-equip {
    padding: 100px 0px 30px;
}

.pc-equip-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #212ea02a;
    margin-bottom: 10px;
}

.pc-equip-con {
    padding: 40px 0px;
}

.pc-equip-con ul {
    list-style: none;
    padding: 0;
    border-right: 1px solid #212ea018;
}

.pc-equip-con ul li img {
    width: 12px;
    margin-right: 12px;
}

.pc-equip-con ul li {
    padding: 5px 0px;
}

.pc-equip-con ul li:hover {
    cursor: pointer;
}


/* PC Contact Us */

#pc-contact-us {
    background: url(/assets/images/pc-form-bg.svg);
    color: var(--p-white);
    background-size: cover
}

.pc-contact-header h1 {
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #636dc528;
}

.pc-contact-form-container {
    padding: 30px 0px;
}

.pc-contact-form-container .email {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--p-white);
}

#pc-contact-us .pc-contact-form {
    border-left: 2px solid #636dc528;
}

#pc-contact-us .pc-contact-form input,
#pc-contact-us .pc-contact-form textarea {
    background-color: var(--p-white);
    padding: 15px 10px;
    margin: 15px 0px;
    width: 85%;
    border: none;
}

#pc-contact-us .pc-contact-form .p-btn {
    padding: 10px 20px;
    color: var(--p-black);
    background-color: var(--p-green);
    margin: 10px 0px;
    width: auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    /* opacity: 0.4; */
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    opacity: 0 !important;
}

.main-nxt-btn-swiper {
    padding: 0;
    height: 20px;
    position: absolute;
}

.main-prev-btn-swiper {
    padding: 0;
    height: 20px;
    transform: rotate(180deg);
    margin-left: 23px !important;
}

.nxt-btn-swiper {
    padding: 0;
    height: 30px;
}

.prev-btn-swiper {
    padding: 0;
    height: 30px;
    transform: rotate(180deg);
    margin-left: 30px;
}

.swiper-button-next {
    top: 0 !important;
    width: 35px !important;
    background-color: #212EA0;
    height: 100% !important;
    right: 0 !important;
    margin-top: 0 !important;
}

.swiper-button-prev {
    top: 0 !important;
    width: 35px !important;
    background-color: #212EA0;
    height: 100% !important;
    left: 0 !important;
    margin-top: 0 !important;
}