* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --p-black: #141414;
    --p-white: #F8F9FC;
    --m-blue: #212EA0;
    --l-blue: #1774FF;
    --p-green: #02B302;
    --gotham-medium: gotham-medium;
    --gotham-book: gotham-book;
}

@font-face {
    font-family: gotham-medium;
    src: url(/assets/fonts/Gotham\ Medium.otf);
}

@font-face {
    font-family: gotham-book;
    src: url(/assets/fonts/GothamBook.ttf);
}

@font-face {
    font-family: temp;
    src: url(/assets/fonts/Poppins-Regular.ttf);
}

body {
    font-family: var(--gotham-book);
    position: relative;
}

h1 {
    font-family: var(--gotham-book);
    font-size: 2.1rem;
}

p {
    font-size: 15px;
    margin: 0;
}

.bold {
    font-family: var(--gotham-medium);
}

.lb-color {
    color: var(--l-blue) !important;
}

.b-color {
    color: var(--p-black);
}

.g-color {
    color: var(--p-green);
}

.w-color {
    color: var(--p-white);
}

.p-btn {
    background-color: var(--l-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--p-white);
    padding: 9px;
    width: 150px;
    margin-left: 2.5rem;
    border-radius: 0 !important;
    border: none !important;
    font-size: 15px;
}

.h-flex-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h-flex-s {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.h-flex-e {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}


/* Navbar */

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-expand-lg {
    padding: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: var(--p-black);
    padding: 0.5rem 1rem !important;
}

nav .btn {
    background-color: var(--l-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--p-white);
    /* padding: 8px; */
    width: 150px;
    margin-left: 2.5rem;
    border-radius: 0 !important;
    border: none !important;
}

nav .btn img {
    width: 14px;
    margin: 0 7px;
}


/* Header */

#header {
    background-color: var(--p-black);
    position: relative;
}

#header img {
    width: 100%;
    /* max-width: 100%; */
}

#header .col-5 {
    padding: 40px 0px;
}

#header .col-5 p {
    color: var(--p-white);
    line-height: 1.2rem;
}


/* Form */

#header .floating-div {
    background-color: #fff;
    width: 40% !important;
    position: absolute;
    top: 25%;
    left: 9%;
    padding: 30px;
}

#header .floating-div h1 {
    font-size: 1.7rem;
}

#header .floating-div .tabs button {
    background: none !important;
    border: none;
    padding: 12px 25px;
}

#header .floating-div .tabs button p {
    margin: 0px;
    font-size: 15px;
}

#header .floating-div .tabs button img {
    width: 25px;
    height: 20px;
}

.floating-div form .row {
    border-top: 1px solid #DADBEF;
}

.floating-div .label-input-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 8px 0px;
    font-size: 15px;
}

.floating-div .label-input-div input,
.floating-div .label-input-div select {
    width: 100%;
    border: 1px solid #39379a4d;
    background-color: var(--p-white);
    padding: 8px;
}

.floating-div .submit-form-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 5px;
}

#header-form2 {
    display: none;
}

.header-tab-active {
    color: var(--l-blue);
    border-top: 1px solid #DADBEF !important;
    border-left: 1px solid #DADBEF !important;
    border-right: 1px solid #DADBEF !important;
}

.header-tab-active img {
    filter: grayscale(0);
}

.header-tab-inactive {
    color: var(--p-black);
    border: none;
}

.header-tab-inactive img {
    filter: grayscale(1);
}


/* Main Section */

#main {
    padding: 100px 0px 50px 0px;
    background-color: var(--p-white)
}

#main .header .row {
    border-bottom: 1px solid #212ea01a;
}

#main .header p img {
    margin: 0 8px;
}

#main .c-container {
    display: flex;
    align-items: center;
    padding: 100px 0px 0px;
    justify-content: center;
    flex-direction: column;
}

#main .header .dropdown {
    position: relative;
    display: inline-block;
    padding: 12px 16px;
    /* transition: all 0.2s; */
}

.dropbtn {
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
}

.dropdown img {
    transition: all 0.2s ease;
}

.dropdown:hover img {
    transform: rotate(-0.25turn);
    filter: invert(100%) sepia(17%) saturate(0%) hue-rotate(51deg) brightness(150%) contrast(102%);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--l-blue);
    /* min-width: 160px; */
    width: 100%;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    left: 0;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: var(--p-white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover {
    background-color: var(--l-blue);
}

.dropdown:hover .dropbtn {
    color: var(--p-white) !important;
}

.p-card {
    width: 85%;
    height: 210px;
    display: flex;
    flex-direction: row;
    border-top: 5px solid var(--m-blue);
    background-color: #fff;
    margin-bottom: 40px;
}

.p-card .img-sec {
    width: 30%;
}

.p-card .img-sec img {
    /* width: 100%; */
    height: 100%;
}

.p-card .details-sec {
    width: 50%;
    padding: 25px;
}

.p-card .down-div .arrow-btn {
    transition: all 0.2s;
}

.p-card:hover .arrow-btn {
    /* transform: rotate(270deg); */
    transform: rotate(-0.25turn);
    cursor: pointer;
}

.p-card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.p-card .details-sec .title,
.p-card .details-sec .p-type {
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2rem;
    word-spacing: 0px;
}

.p-card .details-sec .icons-div {
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.p-card .details-sec .icons-div img {
    background-color: #E9EAF5;
    padding: 5px;
    width: 28px;
    height: 28px;
    margin-right: 7px;
    position: relative;
}

.p-card .details-sec .details-div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}

.p-card .details-sec .details-div ul li {
    font-size: 14px;
    word-spacing: 0px;
    padding: 5px 15px 5px 0px;
}

.p-card .link-sec {
    width: 20%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.p-card .link-sec .title {
    color: var(--l-blue);
    margin: 0;
}

.p-card .link-sec .fav-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.p-card .link-sec .fav-div p {
    margin: 0px 0px 0px 5px;
    font-size: 14px;
}

.p-card .link-sec .fav-div img {
    width: 15px;
}

.p-card .link-sec .arrow-btn {
    width: 30px;
}


/* Pagination Bar */

.pagination-bar {
    list-style: none;
    width: 85%;
}

.pagination-bar li {
    padding: 10px;
}

.pagination-bar li:hover {
    cursor: pointer;
}

.pagination-bar .page-active {
    color: var(--l-blue) !important;
}

.pagination-bar .next-btn {
    background-color: var(--l-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding: 20px;
    margin-left: 20px;
}


/* Marquee */

.marquee {
    background-color: #fff;
    display: flex;
    overflow-x: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
    height: 200px;
    width: 100%;
}

.marquee:hover .marquee-content {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.marquee:hover .marquee-logo {
    filter: grayscale(1) contrast(0) blur(1px);
}

.marquee-block {
    padding-left: 4em;
    height: auto;
    width: 80%;
    display: flex;
    cursor: pointer;
}

.marquee-block:hover .marquee-logo {
    filter: unset;
}

.marquee-logo {
    /* filter: grayscale(1) contrast(0); */
}

.marquee-content {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    -webkit-animation: slide-left 20s linear infinite;
    animation: slide-left 20s linear infinite;
}

@-webkit-keyframes slide-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


/* Available brands  */

.available-barnds-container h1 {
    margin-bottom: 45px;
}

.available-barnds {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.available-barnds .brand-li {
    width: 16.6666%;
    padding: 7px;
}


/* Footer */

.footer {
    padding-top: 80px;
    padding-bottom: 30px;
    height: 50vh;
    background: url(/assets/images/footer\ bg.svg) center center no-repeat;
    background-size: cover;
    color: var(--p-white);
    height: 100%;
}

.footer .footer-header p {
    font-size: 14px;
    margin-bottom: 30px;
}

.footer .footer-header .p-btn {
    float: right;
}

.footer-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-ul li {
    width: 33.3333%;
    padding: 7px 0px;
    font-size: 13px;
}

.footer .footer-link {
    color: var(--p-white);
    text-decoration: none;
}

.footer .social-icon {
    width: 22px;
    margin-right: 20px;
}

.footer .social-icon:hover {
    cursor: pointer;
}

.footer .copyright {
    justify-content: flex-end;
    color: #a0a0ab;
}